# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @govereau @seanmcl @jtristan @joonwonc @ppotapov-aws @waahm7 @jiancheng-aws @yongweiy @kerrijoe-aws
